{% extends 'base.html.twig' %}

{% block title %}JUKEBOX 80 - INSCRIPTION{% endblock %}


{# FORMULAIRE D'INSCRIPTION #}

{% block content %}

<div class="image-background-inscription">
    <h1 class="mb-5 pt-5 d-flex justify-content-center">Inscription</h1>

    <div class="formulaire-inscription mt-5 m-5 w-50">
        {{ form(form) }}
    </div>

</div>

{% endblock %}